/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

/* Container */
.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Header */
header h1 {
    color: #007BFF;
    font-size: 2rem;
}

.highlight {
    color: #ff7b00;
}

/* Sections */
.projects, .contact, .experience, .presentations {
    margin: 20px 0;
    padding: 15px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Links */
a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #ff7b00;
}

/* List */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px 0;
    font-size: 18px;
}

/* Icons */
i {
    margin-right: 8px;
    color: #007BFF;
}

